.hero-banner-container .hero-banner-wrapper {
  max-width: unset;
  padding: 0;
}

.hero-banner {
  position: relative;
  padding: 48px 24px;
  min-height: 640px;
}

.hero-banner h1,
.hero-banner h2,
.hero-banner h3,
.hero-banner h4,
.hero-banner h5,
.hero-banner h6 {
  max-width: 1360px;
  margin-left: 96px;
  margin-right: 96px;
  color: var(--color-white);
  font-weight: 400;
}

.hero-banner p {
  max-width: 1360px;
  margin-left: 96px;
  margin-right: 96px;
  color: var(--color-white-secondary);
}

.hero-banner.no-image * {
  color: var(--color-text);
}

.hero-banner picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero-banner img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .hero-banner {
    padding: 80px 32px;
  }
}
