/* Audi Type Variable Font - loaded from Audi CDN */
@font-face {
  font-family: AudiType;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("https://assets.one.audi/assets/fonts/AudiTypeVF.woff2") format("woff2");
}
