.card {
  --spacing-default: var(--spacing-l);

  overflow-wrap: break-word;
  box-shadow: var(--color-border) 0 0 0 1px inset;
  overflow: hidden;
  background-color: var(--color-surface-dark);
  color: var(--color-white);
  border-radius: 0;
  transition: all var(--transition-duration) var(--audi-easing);

  .card-inner {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;
  }

  &:not(.quiet) {
    .card-picture-container {
      position: relative;
      padding-bottom: 60%;

      picture {
        position: absolute;
        inset: 0;
        opacity: 0.85;
        transition: opacity var(--transition-duration) var(--audi-easing);
      }

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }

  .card-content-container {
    padding: var(--spacing-default);

    :first-child {
      margin-top: 0;
      font-size: 16px;
    }

    :last-child {
      margin-bottom: 0;
    }

    p {
      color: var(--color-white-secondary);
    }

    &:has(+ .card-cta-container) {
      padding: var(--spacing-default) var(--spacing-default) var(--spacing-m) var(--spacing-default);
    }
  }

  .card-cta-container {
    padding: 0 var(--spacing-default) var(--spacing-default) var(--spacing-default);
    margin: 0;
    display: flex;
    justify-content: end;
  }

  &:not(.quiet):hover {
    box-shadow: var(--color-surface-medium) 0 0 0 1px inset;
    background-color: var(--color-surface-medium);

    picture {
      opacity: 1;
    }
  }

  /* Variations */
  &.center {
    text-align: center;
  }

  &.quiet {
    --spacing-default: 0;

    box-shadow: initial;
    background-color: initial;

    .card-content-container * {
      margin: 6px;
    }
  }
}
